[alias]
  s = status
  last = log -1 HEAD
  lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit
  can = commit --amend --no-edit
  changed = diff --stat --color

[core]
  editor = vim
[includeIf "gitdir:~/dotfiles/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/Code/opensource/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/Code/"]
  path = ~/.gitconfig-work
